/* Rhun */

:root {
    --background-color: #2D2E29;
    --border-color: #4D8EAA40;
    --text-color: #B0C4DE;
    --text-color-hover: #4D8EAA40;
    --text-fade-color: #4D8EAA40;
    --text-color-secondary: #C33C54;
    --button-color: #4D8EAA40;
    --button-color-hover: #C33C54;
    --theme-icon: url('https://api.iconify.design/game-icons/icebergs.svg?width=64&height=64');
    --gradient-style: radial-gradient(var(--text-color), var(--button-color), var(--text-color-hover));
}

:root.red {
    --background-color: #2D2E29;
    --border-color: #EAD95F;
    --text-color: #C34973;
    --text-color-hover: #EAD95F;
    --text-fade-color: #C3497340;
    --text-color-secondary: #EAD95F;
    --button-color: #EAD95F40;
    --button-color-hover: #EAD95F;
    --theme-icon: url('https://api.iconify.design/game-icons/leaf-swirl.svg?width=64&height=64');
    --gradient-style: radial-gradient(var(--button-color), var(--text-color), var(--text-color-hover));
}

:root.blue {
    --background-color: #2D2E29;
    --border-color: #A9A9A9;
    --text-color: #8B4513;
    --text-color-hover: #A9A9A9;
    --text-fade-color: #789CF340;
    --text-color-secondary: #228B22;
    --button-color: #A9A9A940;
    --button-color-hover: #228B22;
    --theme-icon: url('https://api.iconify.design/game-icons/axe-in-stump.svg?width=64&height=64');
    --gradient-style: linear-gradient(to bottom, var(--button-color), var(--text-color-hover), var(--text-color));
}

:root.green {
    --background-color: #2D2E29;
    --border-color: #A383F1;
    --text-color: #BCD755;
    --text-color-hover: #A383F1;
    --text-fade-color: #BCD75540;
    --text-color-secondary: #A383F1;
    --button-color: #A383F140;
    --button-color-hover: #A383F1;
    --theme-icon: url('https://api.iconify.design/game-icons/herbs-bundle.svg?width=64&height=64');
    --gradient-style: linear-gradient(to top, var(--text-color), var(--text-color-hover), var(--button-color));
}

#moving-svg-right {
    animation: moveRight 13s linear infinite;
    color: var(--text-color-secondary);
}

@keyframes moveRight {

    0% {
        transform: translateX(-20vw);
    }

    100% {
        transform: translateX(80vw);
    }
}

#moving-svg-left {
    animation: moveLeft 13s linear infinite;
    color: var(--text-color-secondary);
}

@keyframes moveLeft {

    0% {
        transform: translateX(80vw);
    }

    100% {
        transform: translateX(-20vw);
    }
}

.rhun-theme-icon {
    mask-image: var(--theme-icon);
    -webkit-mask-image: var(--theme-icon);
    background-repeat: no-repeat;
    background-position: contain;
}

.rhun-icon-gradient {
    background: var(--gradient-style);
    width: 64;
    height: 64;
    display: inline-block;
}

.placeholder {
    color: var(--button-color)
}

.theme-icon {
    content: var(--theme-icon);
}

body {
    color: var(--text-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    color: var(--text-color);
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: var(--text-color-hover) !important;
    font-weight: bold;
    text-decoration: none;
}

.rhun-2 {
    font-size: 2em;
}

.rhun-3 {
    font-size: 3em;
}

.rhun-10 {
    font-size: 10em;
}

.rhun-background {
    background-color: #2D2E29;
}

.rhun-text {
    color: var(--text-color);
}

.rhun-text-secondary {
    color: var(--text-color-secondary);
}

.rhun-text:hover {
    color: var(--text-color-hover);
}

.rhun-red {
    color: #C34973;
}

.rhun-red-opacity-25 {
    color: #C3497340;
}

.rhun-orange {
    color: #EAD95F;
}

.rhun-yellow {
    color: #c8c7ac;
}

.rhun-green {
    color: #BCD755;
}

.rhun-light-blue {
    color: #A7D5E9;
}

.rhun-dark-blue {
    color: #789CF3;
}

.rhun-purple {
    color: #A383F1;
}

.rhun-pink {
    color: #B978CC;
}

.rhun-gradient {
    background: linear-gradient(to right, var(--text-color), var(--border-color));
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* mask-image: linear-gradient(to right, var(--text-color), var(--border-color)); */
}

.rhun-border {
    border: 2px solid var(--border-color) !important;
}

.rhun-button {
    background-color: var(--button-color);
}

.rhun-button:hover {
    background-color: var(--button-color-hover);
}

.active {
    color: var(--text-color) !important;
}

/* Bootstrap Overrides */
.nav-link {
    color: var(--text-color) !important;
    font-weight: bold;
}

.nav-link:hover {
    color: var(--text-color) !important;
    font-weight: bold;
}

.nav-pills .nav-link {
    background-color: var(--background-color);
    /* Inactive pill background color */
    color: var(--text-color);
    /* Inactive pill text color */
    font-weight: bold;
}

.nav-pills .nav-link.active {
    background-color: var(--button-color);
    /* Active pill background color */
    color: var(--text-color);
    /* Active pill text color */
    font-weight: bold;
}

.nav-pills .nav-link:hover {
    background-color: var(--button-color-hover);
    /* Active pill background color */
    color: var(--text-color);
    /* Active pill text color */
    font-weight: bold;
}

.form-check-input:checked,
.form-check-input:hover {
    background-color: var(--text-color);
    border-color: var(--text-color);
    box-shadow: 0 0 0 0.25rem var(--text-fade-color) !important;
}

/* Adjust the color of the selected label text */
.form-check-input:checked~.form-check-label {
    color: var(--text-color);
}

.custom-input:focus,
.custom-input:hover {
    color: var(--text-color);
    border-color: var(--text-color) !important;
    box-shadow: 0 0 0 0.25rem var(--text-fade-color) !important;
}

.custom-tooltip {
    --bs-tooltip-bg: var(--background-color);
    --bs-tooltip-color: var(--text-color);
    --bs-tooltip-opacity: 1;
}

/* Javascript Support */
#fademe {
    opacity: 0;
    transition: 2s;
}

/* Loading */
#loading {
    display: none;
}