/* Rhun */

::selection {
    background-color: var(--background-color-tertiary);
}

:root {
    --background-color: #212529;
    --background-color-secondary: #343a40;
    --background-color-tertiary: #2b3035;
    --border-color: #D4AF37;
    --border-color-secondary: #4D8EAA;
    --border-color-tertiary: #5E995E;
    --border-color-callout: #BD4F5B;
    --text-color: #D4AF37;
    --text-color-link: #D4AF3740;
    --text-color-hover: #D4AF37;
    --text-fade-color: #D4AF3740;
    --text-color-secondary: #4D8EAA;
    --text-color-tertiary: #5E995E;
    --text-color-callout: #BD4F5B;
    --button-color: #D4AF3725;
    --button-color-hover: #D4AF3740;
    --theme-icon: url('https://api.iconify.design/game-icons/dungeon-gate.svg?width=64&height=64');
    --gradient-style: radial-gradient(var(--text-color), var(--button-color), var(--text-color-hover));
}

:root.winterforest {
    --background-color: #212529;
    --background-color-secondary: #343a40;
    --background-color-tertiary: #2b3035;
    --border-color: #5E995E;
    --border-color-secondary: #5E995E;
    --border-color-tertiary: #5E995E;
    --border-color-callout: #5E995E;
    --text-color: #5E995E;
    --text-color-link: #5E995E40;
    --text-color-hover: #5E995E;
    --text-fade-color: #5E995E40;
    --text-color-secondary: #5E995E;
    --text-color-tertiary: #5E995E;
    --text-color-callout: #5E995E;
    --button-color: #5E995E25;
    --button-color-hover: #5E995E40;
    --theme-icon: url('https://api.iconify.design/game-icons/circle-forest.svg?width=64&height=64');
    --gradient-style: radial-gradient(var(--text-color), var(--button-color), var(--text-color-hover));
}

:root.glacier {
    --background-color: #212529;
    --background-color-secondary: #343a40;
    --background-color-tertiary: #2b3035;
    /* --background-image: url('../images/4D8EAA-Blurry.svg'); */
    --border-color: #B0C4DE;
    --border-color-secondary: #00796B;
    --border-color-tertiary: #4D8EAA;
    --border-color-callout: #B0B0B0;
    --text-color: #B0C4DE;
    --text-color-link: #B0C4DE25;
    --text-color-hover: #B0C4DE;
    --text-fade-color: #4D8EAA40;
    --text-color-secondary: #00796B;
    --text-color-tertiary: #4D8EAA;
    --text-color-callout: #B0B0B0;
    --button-color: #4D8EAA40;
    --button-color-hover: #00796B;
    --theme-icon: url('https://api.iconify.design/game-icons/icebergs.svg?width=64&height=64');
    --gradient-style: radial-gradient(var(--text-color), var(--button-color), var(--text-color-hover));
}

:root.autumn {
    --background-color: #212529;
    --background-color-secondary: #343a40;
    --background-color-tertiary: #2b3035;
    /* --background-image: url('../images/C34973-Blurry.svg'); */
    --border-color: #BD4F5B;
    --border-color-secondary: #D8B86D;
    --border-color-tertiary: #D0745E;
    --border-color-callout: #A8730B;
    --text-color: #BD4F5B;
    --text-color-link: #BD4F5B25;
    --text-color-hover: #BD4F5B;
    --text-fade-color: #BD4F5B40;
    --text-color-secondary: #D8B86D;
    --text-color-tertiary: #D0745E;
    --text-color-callout: #A8730B;
    --button-color: #D8B86D40;
    --button-color-hover: #D8B86D;
    --theme-icon: url('https://api.iconify.design/game-icons/leaf-swirl.svg?width=64&height=64');
    --gradient-style: radial-gradient(var(--button-color), var(--text-color), var(--text-color-hover));
}

:root.monobat {
    --background-color: #212529;
    --background-color-secondary: #343a40;
    --background-color-tertiary: #2b3035;
    --background-image: url('../images/DE9435-Blurry.svg');
    --border-color: #DE9435;
    --border-color-secondary: #96668C;
    --border-color-tertiary: #6BA090;
    --border-color-callout: #DE5A41;
    --text-color: #DE9435;
    --text-color-link: #DE943525;
    --text-color-hover: #DE9435;
    --text-fade-color: #6BA090;
    --text-color-secondary: #96668C;
    --text-color-tertiary: #6BA090;
    --text-color-callout: #DE5A41;
    --button-color: #38608440;
    --button-color-hover: #96668C40;
    --theme-icon: url('https://api.iconify.design/game-icons/bat.svg?width=64&height=64');
    --gradient-style: linear-gradient(to right, var(--button-color), var(--text-color-hover), var(--border-color-callout));
}

:root.gayfeather {
    --background-color: #212529;
    --background-color-secondary: #343a40;
    --background-color-tertiary: #2b3035;    
    --background-image: url('../images/BCD755-Blurry.svg');
    --border-color: #BCD755;
    --border-color-secondary: #A383F1;
    --border-color-tertiary: #FF91A4;
    --border-color-callout: #8FAC9E;
    --text-color: #BCD755;
    --text-color-link: #BCD75525;
    --text-color-hover: #BCD755;
    --text-fade-color: #BCD75540;
    --text-color-secondary: #A383F1;
    --text-color-tertiary: #FF91A4;
    --text-color-callout: #8FAC9E;
    --button-color: #A383F140;
    --button-color-hover: #A383F1;
    --theme-icon: url('https://api.iconify.design/game-icons/herbs-bundle.svg?width=64&height=64');
    --gradient-style: linear-gradient(to top, var(--text-color), var(--text-color-hover), var(--button-color));
}

html,
body {
    height: 100vh;
    width: 100vw;
}

body {
    color: var(--text-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: var(--background-image);
    background-color: #212529;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition: opacity 2s ease;
}

code {
    color: var(--text-color-callout);
    background-color: var(--background-color-secondary);
    border-radius: 0.5rem;
    padding: 0.1rem;
}

a {
    color: var(--text-color);
    font-weight: bold;
    text-decoration: none;
    transition: color 1s ease, font-weight 1s ease, text-decoration 1s ease;    
}

a:hover {
    color: var(--text-color-secondary) !important;
    font-weight: bold;
    text-decoration: none;
    transition: color 100ms ease 1ms, font-weight 100ms ease 1ms, text-decoration 100ms ease 1ms;
}

#moving-svg-right {
    animation: moveRight 13s linear infinite;
    color: var(--text-color);
}

@keyframes moveRight {

    0% {
        transform: translateX(-20vw);
    }

    100% {
        transform: translateX(80vw);
    }
}

#moving-svg-left {
    animation: moveLeft 13s linear infinite;
    color: var(--text-color);
}

@keyframes moveLeft {

    0% {
        transform: translateX(80vw);
    }

    100% {
        transform: translateX(-20vw);
    }
}

.rhun-theme-icon {
    mask-image: var(--theme-icon);
    -webkit-mask-image: var(--theme-icon);
    background-repeat: no-repeat;
    background-position: contain;
}

.rhun-icon-gradient {
    background: var(--gradient-style);
    width: 64;
    height: 64;
    display: inline-block;
}

.placeholder {
    color: var(--button-color)
}

.theme-icon {
    content: var(--theme-icon);
}

.rhun-2 {
    font-size: 2em;
}

.rhun-3 {
    font-size: 3em;
}

.rhun-10 {
    font-size: 10em;
}

.rhun-background {
    background-color: #2D2E29;
}

.rhun-text {
    color: var(--text-color);
}

.rhun-text-secondary {
    color: var(--text-color-secondary);
}

.rhun-text-tertiary {
    color: var(--text-color-tertiary);
}

.rhun-text-callout {
    color: var(--text-color-callout);
}

.rhun-border {
    border: 2px solid var(--border-color) !important;
}

.rhun-border-secondary {
    border: 2px solid var(--border-color-secondary) !important;
}

.rhun-border-tertiary {
    border: 2px solid var(--border-color-tertiary) !important;
}

.rhun-border-callout {
    border: 2px solid var(--border-color-callout) !important;
}

.rhun-text:hover {
    color: var(--text-color-hover);
}

.rhun-red {
    color: #C34973;
}

.rhun-red-opacity-25 {
    color: #C3497340;
}

.rhun-orange {
    color: #EAD95F;
}

.rhun-yellow {
    color: #c8c7ac;
}

.rhun-green {
    color: #BCD755;
}

.rhun-light-blue {
    color: #A7D5E9;
}

.rhun-dark-blue {
    color: #789CF3;
}

.rhun-purple {
    color: #A383F1;
}

.rhun-pink {
    color: #B978CC;
}

.rhun-gradient {
    background: linear-gradient(to right, var(--text-color), var(--border-color));
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* mask-image: linear-gradient(to right, var(--text-color), var(--border-color)); */
}

.rhun-border-gradient {
    border: 2px solid;
    border-image: linear-gradient(to right, var(--border-color), var(--button-color-hover), var(--text-color));
    border-image-slice: 1;
}

.rhun-border-radius {
    border-radius: .2rem !important;
}

.rhun-rounded {
    border-radius: .2rem !important;
}

.rhun-shadow {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.rhun-button {
    color: var(--text-color);
    background-color: var(--button-color);
}

.rhun-button:hover {
    background-color: var(--button-color-hover);
}

.rhun-cursor {
    cursor: pointer;
}

.rhun-stone {
    background-color: var(--background-color);
    border: 0.2rem var(--button-color) solid;
    border-radius: 0.2rem !important;
    padding: 0.4rem;
    margin: 0.4rem;
}

.rhun-stone:hover {
    background-color: var(--background-color);
    border: 0.2rem var(--button-color-hover) solid;
    border-radius: 0.2rem !important;
    padding: 0.4rem;
    margin: 0.4rem;
    cursor: pointer;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.rhun-center {
    text-align: center;
}

.rhun-stone-title {
    font-size: 1rem;
}

.rhun-stone-body {
    font-size: 1rem;
}

.active {
    color: var(--text-color) !important;
}

/* Bootstrap Overrides */
.nav-link {
    color: var(--text-color) !important;
    font-weight: bold;
}

.nav-link:hover {
    color: var(--text-color) !important;
    font-weight: bold;
}

.nav-pills .nav-link {
    background-color: var(--background-color);
    /* Inactive pill background color */
    color: var(--text-color);
    /* Inactive pill text color */
    font-weight: bold;
}

.nav-pills .nav-link.active {
    background-color: var(--button-color);
    /* Active pill background color */
    color: var(--text-color);
    /* Active pill text color */
    font-weight: bold;
}

.nav-pills .nav-link:hover {
    background-color: var(--button-color-hover);
    /* Active pill background color */
    color: var(--text-color);
    /* Active pill text color */
    font-weight: bold;
}

.form-check-input:checked,
.form-check-input:hover {
    background-color: var(--text-color-secondary);
    border-color: var(--text-color-tertiary);
    box-shadow: 0 0 0 0.25rem var(--text-fade-color) !important;
}

/* Adjust the color of the selected label text */
.form-check-input:checked~.form-check-label {
    color: var(--text-color);
}

.custom-input:focus,
.custom-input:hover {
    color: var(--text-color);
    border-color: var(--text-color) !important;
    box-shadow: 0 0 0 0.25rem var(--text-fade-color) !important;
}

.custom-tooltip {
    --bs-tooltip-bg: var(--background-color);
    --bs-tooltip-color: var(--text-color);
    --bs-tooltip-opacity: 1;
    --bs-tooltip-arrow-width: 1rem;
    --bs-tooltip-arrow-height: 1rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
    border: 2px solid var(--button-color-hover) !important;
    border-radius: .5rem;
}

/* Hide choose file button */
#jsonFileInput {
    display: none;
}

/* Javascript Support */
#fademe {
    opacity: 0;
    transition: 2s;
}

/* Loading */
#loading {
    display: none;
}

/* Loading Weather */
weather-loading {
    display: none;
}